In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = 'semmelweis_data.csv.xlsx'

In [ ]:
import os

# List the files in the current directory
os.listdir()

['.config', 'drive', 'sample_data']

In [ ]:
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
drive.mount('/content/gdrive', force_remount=False)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
file_path = '/content/gdrive/MyDrive/semmelweis_data.csv.xlsx'

In [ ]:
import pandas as pd

# Create a DataFrame from the provided data
data = {
    'year': [1841, 1842, 1843, 1844, 1845, 1846, 1841, 1842, 1843, 1844, 1845, 1846],
    'births': [3036, 3287, 3060, 3157, 3492, 4010, 2442, 2659, 2739, 2956, 3241, 3754],
    'deaths': [237, 518, 274, 260, 241, 459, 86, 202, 164, 68, 66, 105],
    'clinic': ['clinic 1', 'clinic 1', 'clinic 1', 'clinic 1', 'clinic 1', 'clinic 1',
               'clinic 2', 'clinic 2', 'clinic 2', 'clinic 2', 'clinic 2', 'clinic 2'],
    'handwashing': ['before', 'before', 'before', 'after', 'after', 'after',
                    'before', 'before', 'before', 'after', 'after', 'after']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
total_births_per_clinic = df.groupby('clinic')['births'].sum()
total_deaths_per_clinic = df.groupby('clinic')['deaths'].sum()

In [ ]:
print("Total Births per Clinic:")
print(total_births_per_clinic)
print()

Total Births per Clinic:
clinic
clinic 1    20042
clinic 2    17791
Name: births, dtype: int64

In [ ]:
print("Total Deaths per Clinic:")
print(total_deaths_per_clinic)

Total Deaths per Clinic:
clinic
clinic 1    1989
clinic 2     691
Name: deaths, dtype: int64

In [ ]:
average_births_per_year_per_clinic = df.groupby(['clinic', 'year'])['births'].mean()
average_deaths_per_year_per_clinic = df.groupby(['clinic', 'year'])['deaths'].mean()

In [ ]:
total_births_per_year = df.groupby('year')['births'].sum()
total_deaths_per_year = df.groupby('year')['deaths'].sum()

In [ ]:
bootstrap_samples = 1000  # Number of bootstrap samples
bootstrap_results = []

In [ ]:
for _ in range(bootstrap_samples):
    bootstrap_sample = df.sample(frac=1, replace=True)
    bootstrap_births_per_clinic = bootstrap_sample.groupby('clinic')['births'].sum()
    bootstrap_deaths_per_clinic = bootstrap_sample.groupby('clinic')['deaths'].sum()
    bootstrap_diff = bootstrap_births_per_clinic - bootstrap_deaths_per_clinic
    bootstrap_results.append(bootstrap_diff)

In [ ]:
probability_fewer_deaths = sum(result[0] < result[1] for result in bootstrap_results) / bootstrap_samples

In [ ]:
print("Average Births per Year per Clinic:")
print(average_births_per_year_per_clinic)
print()

print("Average Deaths per Year per Clinic:")
print(average_deaths_per_year_per_clinic)
print()

Average Births per Year per Clinic:
clinic    year
clinic 1  1841    3036.0
          1842    3287.0
          1843    3060.0
          1844    3157.0
          1845    3492.0
          1846    4010.0
clinic 2  1841    2442.0
          1842    2659.0
          1843    2739.0
          1844    2956.0
          1845    3241.0
          1846    3754.0
Name: births, dtype: float64

Average Deaths per Year per Clinic:
clinic    year
clinic 1  1841    237.0
          1842    518.0
          1843    274.0
          1844    260.0
          1845    241.0
          1846    459.0
clinic 2  1841     86.0
          1842    202.0
          1843    164.0
          1844     68.0
          1845     66.0
          1846    105.0
Name: deaths, dtype: float64

In [ ]:
print("Probability of Clinic 1 having fewer deaths than Clinic 2 (bootstrap analysis):")
print(probability_fewer_deaths)

Probability of Clinic 1 having fewer deaths than Clinic 2 (bootstrap analysis):
0.423

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Calculate the number of deaths before and after handwashing
deaths_before = df[df['handwashing'] == 'before']['deaths'].sum()
deaths_after = df[df['handwashing'] == 'after']['deaths'].sum()

In [ ]:
# Print the results
print("Number of Deaths Before Handwashing:", deaths_before)
print("Number of Deaths After Handwashing:", deaths_after)

Number of Deaths Before Handwashing: 1481
Number of Deaths After Handwashing: 1199

# New Section